parameters:
    level: 9
    paths:
        - src

    typeAliases:
        DatabaseContract: 'int|float|string|bool|null'
        MigrationParams: 'array{fields: array<string, string>, foreign?: array<string, string|array<string>>}'

    exceptions:
        uncheckedExceptionRegexes:
            - '#^QueryBox\\Exceptions\\Unchecked\\#'